<div class="container">
  <br>
    <div class = "find_me">
      <%= current_user.id %>
      <% @my_questions.each do |my_q| %>
        <%= my_q%>
      <% end %>
    </div>


  <h3 class="center"><b>Questions</b></h3><br>


  <div id = "all-mine-filter" class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary active">
      <input type="radio" name="options" id="all_radio" autocomplete="off" checked> All
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="options" id="mine-radio" autocomplete="off"> Mine
    </label>
  </div>


  <% collapse_count = 1 %>

  <div class = "question_list">
  <% @questions.each do |question| %>
      <% #if question["user_id"] == current_user.id %>

      <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <div class="row valign">
              <div class="col-sm-11">
                <b><%= link_to question["text"], "/questions/#{question["id"]}" %></b>
              </div>
              <div class="col-sm-1">
                <!-- <a class="btn btn-theme btn-sm collapsed" style="margin-left:8px;cursor:pointer;" data-target=<%= "#collapse#{collapse_count}" %> data-toggle="collapse">
                  Reveal
                </a> -->
              </div>
            </div>
          </h4>
        </div>
        <div id=<%= "collapse#{collapse_count}" %> class="panel-collapse collapse">
          <div class="panel-body">
            <% if question["answers"][0] %>
              <%= question["answers"][0]["text"] %>
            <% end %>

          </div>
        </div>

      </div>
      </div>
      <% collapse_count += 1 %>
    <% end %>
  </div>
  <%# end %>


<br>

</div class="container">
